<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Signup</title>
   <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.css" rel="stylesheet">
  <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->

   <link href="/static/css/login.css" rel="stylesheet">


</head>
<body>


  <section class="user">
	  <div class="user_options-container">
	    <div class="user_options-text">
	      <div class="user_options-registered">
	        <h2 class="user_registered-title">Have an account?</h2>
	        <p class="user_registered-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        tempor incididunt. </p>
	        <button class="user_registered-login" id="login-button" onclick="loginFun()">Login</button>
	      </div>
		</div>
		<script>
			function loginFun(){
				window.location.href="http://127.0.0.1:8000/login"
			}
		</script>
	    
	    <div class="user_options-forms bounceLeft" id="user_options-forms" style="left:50%;">
	      <div class="user_forms-signup">
			<h2 class="forms_title">Sign Up</h2>
			
			{% for message in messages %}
			<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
			  <strong>Message!</strong> {{ message }}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			{% endfor %}

			<form action="" method="POST" class="forms_form">
				{% csrf_token %}
				{% if form.subject.erros %}
				<ol role="alertdialog">
					{% for error in error.subject.erros %}
					<li role="alert"><strong>{{error|escape}}</strong></li>
					{% endfor %}
				</ol>
				{% endif %}
	          <fieldset class="forms_fieldset">
				{% for field in form %}
	            <div class="forms_field">
					<div class="color">
						{{field.errors|striptags}}
					</div>
					<input 
					type="{{field.field.widget.input_type}}"
					class="forms_field-input fieldWrapper"
					name="{{field.name}}"
					id="id_{{field.name}}"
					{% if field.field.required %}
					placeholder="{{field.label}}: required"
					{% elif field.label == "Username" %}
					placeholder="{{field.label}}: yyyy/mm/dd"
					{% else %}
					placeholder="{{field.label}}"
					{% endif %}
				>
				</div>
				{% endfor %}
<!-- 
				{% if field.field.required %}
					placeholder="{{field.label}}: required"
					{% elif field.label == "Username" %}
					placeholder="{{field.label}}: yyyy/mm/dd"
					{% else %}
					placeholder="{{field.label}}"
					{% endif %} -->

	            <!-- <div class="forms_field">
	              <input type="text" placeholder="Last Name" class="forms_field-input" required />
	            </div>
	            <div class="forms_field">
	              <input type="text" placeholder="UserName" class="forms_field-input" required />
	            </div>
	            <div class="forms_field">
	              <input type="email" placeholder="Email" class="forms_field-input" required />
	            </div>
	            <div class="forms_field">
	              <input type="password" placeholder="Password" class="forms_field-input" required />
	            </div>
	            <div class="forms_field">
	              <input type="password" placeholder="Confirm Password" class="forms_field-input" required />
	            </div>
	            <div class="forms_field">
	              <input type="text" placeholder="Join Date" class="forms_field-input" onfocus="(this.type='date')" onblur="(this.type='text')"  id="date" required />
	            </div> -->
	          </fieldset>
	          <div class="forms_buttons">
	            <input type="submit" value="Sign up" class="forms_buttons-action">
	          </div>
	        </form>
	      </div>
	    </div>
	  </div>
  </section>





  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/static/js/login.js"></script>
</body>
</html>