<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usr Registration</title>
    <style>
        .success{
            color: forestgreen;
        }

    </style>
</head>
<body>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for errors in form.non_field_errors %}
    <p class="er">{{ errors }}</p>
    {% endfor %}
    {% endif %}
    {% for fm in form %}
    {{ fm.label_tag }}{{ fm }}{{ fm.errors|striptags }}<br> <br>
    {% endfor %}
    <input type="submit" value="submit">
</form>
{% if messages %}
{% for message in messages %}
<small {% if message.tags %} class="{{ message.tags }}"{% endif %}>
{{ message }}</small>
{% endfor %}
{% endif %}


</body>
</html>