<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title> User Profile </title>
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/profile.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand" href="index.html">
          <div class="sidebar-brand-icon">
            <img src="/static/img/logo.png" alt="logo" class="img-fluid">
          </div>
          <!-- <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div> -->
        </a>
        <a class="sidebar-brand p-0" href="#">
          <div class="sidebar-brand-icon">
            <img src="/static/img/avatar.png" alt="logo" class="img-fluid main_img">
          </div>
          <div class="sidebar-brand p-0 mb-3"> Admin Name </div>
        </a>
        
        <!-- Nav Item - Dashboard -->
       
          <li class="nav-item">
            <a class="nav-link" href="user_home">
              <i class="fa fa-flag"></i>
              <span>Reports</span></a>
            </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-commenting"></i>
              <span>Feedback</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="user_profile">
                <i class="fa fa-users"></i>
                <span>Profile</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="user_leave">
                  <i class="fa fa-users"></i>
                  <span>Leave</span></a>
                </li>
            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
              <!-- Main Content -->
              <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                  <!-- Page Heading -->
                  <div class="row pt-4 pb-4">
                    <div class="col-md-6 col-lg-4">
                      <h1 class="wlcome_text"><span>Profile</span></h1>
                    </div>
                    <div class="col-md-6 col-lg-8 text-right custom_algn">             
                      <div class="input-search">
                        <span> <input type="text" placeholder="Search for Reports..." name=""> <a href=""> <i class="fas fa-search"></i></a> </span>
                      </div>
                      <!-- <div class="bell_icon">
                        <i class="fa fa-bell-o"></i>
                      </div> -->
                      <!-- <form action={% url "logout" %} method="GET"> -->
                        <div class="logout">
                          <a href="{% url "logout" %}"><i class="fa fa-sign-out"></i></a>
                        </div>
                      <!-- </form>
                       -->
                    </div>
                  </div>
                  <!-- Content Row -->

            <div class="page-content page-container" id="page-content">
                <div class="padding">
                    <div class="row container d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="card user-card-full">
                                <div class="row m-l-0 m-r-0">
                                    <div class="col-sm-4 bg-c-lite-green user-profile">
                                        <div class="card-block text-center text-white">
                                            <div class="m-b-25"> <img src="/static/img/avatar.png" class="img-radius" alt="User-Profile-Image"> </div>
                                            <h6 class="f-w-600">{{name}}</h6>
                                            <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="card-block">
                                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Email</p>
                                                    <h6 class="text-muted f-w-400">{{email}}</h6>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Phone</p>
                                                    <h6 class="text-muted f-w-400">98979989898</h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Join Date</p>
                                                    <h6 class="text-muted f-w-400">{{join_date}}</h6>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="m-b-10 f-w-600">Designation</p>
                                                    <h6 class="text-muted f-w-400">Designer</h6>
                                                </div>
                                            </div>
                                                
                                        </div>
                                        <div class="edit_btn">
                                          <a href="{% url 'user_editprofile' %}" class="btn btn-primary">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                     
                </div>
                <!-- /.container-fluid -->
              </div>
              <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
          </div>
          <!-- End of Page Wrapper -->
          <!-- Scroll to Top Button-->
          
          <!-- Logout Modal-->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Bootstrap core JavaScript-->
          <script src="/static/vendor/jquery/jquery.min.js"></script>
          <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
          <!-- Custom scripts for all pages-->
          <script src="/static/js/sb-admin-2.min.js"></script>
          <!-- Page level plugins -->
       
    </body>
  </html>